/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    color: #333;
}

header {
    background-color: #ec407a;
    color: white;
    padding: 20;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
}

.introduction, .importance, .how-to-help {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #d81b60;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
}

footer {
    background-color: #ec407a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Botão flutuante */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ec407a;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.floating-button :hover {
    background-color: #d81b60;
}

/* Botão Home*/
.home-button {
    display: block;
    width: 120px;
    margin: 20px auto;
    text-align: center;
    padding: 10px 20px;
    background-color: #ec407a;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-button:hover {
    background-color: #d81b60;
}

/* Estilos dos Passos */
.step {
    margin-bottom: 30px;
}

.step img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

